# Dependencies
node_modules/
/.pnp
.pnp.js
build/
dist/
.next/

# Testing
coverage/
.nyc_output/

# Misc
*.md
*.mdx
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
