.robotContainer {
  position: relative;
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.robotCanvas {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

@media (max-width: 996px) {
  .robotContainer {
    height: 500px;
  }
}

@media (max-width: 768px) {
  .robotContainer {
    height: 400px;
  }
}

@media (max-width: 480px) {
  .robotContainer {
    height: 350px;
  }
}
