.robotContainer {
  position: relative;
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.robotCanvas {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

@media (max-width: 768px) {
  .robotContainer {
    height: 300px;
  }
}
